<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PIR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->
    {% extends 'base.html' %} 
    
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    {% block content %}
    

    <!-- portfolio_details_banner_start  -->
    <div class="portfolio_details_banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="details_info ">
                        <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">Credentialing and Enrollments</h3>
<!--                        <div class="details_links d-flex justify-content-between align-items-center">-->
<!--                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">-->
<!--                                <span>Client</span>-->
<!--                                <h4>Mesica Chouhan</h4>-->
<!--                            </div>-->
<!--                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">-->
<!--                                <span>Category</span>-->
<!--                                <h4>Mobile App</h4>-->
<!--                            </div>-->
<!--                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">-->
<!--                                <span>Project Date</span>-->
<!--                                <h4>Oct 12, 2019</h4>-->
<!--                            </div>-->
<!--                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">-->
<!--                                <span>Share Project</span>-->
<!--                                <div class="social_links">-->
<!--                                    <ul>-->
<!--                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>-->
<!--                                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>-->
<!--                                        <li><a href="#"> <i class="fa fa-pinterest-p"></i> </a></li>-->
<!--                                        <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="single_details wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">-->
<!--                                <div class="project_btn">-->
<!--                                    <a href="#" class="boxed-btn3">Project Link</a>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio_details_banner_end  -->

    <div class="portfolio_details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="banner wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <img src="../../../static/images/h1.jpg" alt="">
                    </div>
                    <div class="details_text">
                        <div class="row pt-2">
                            <div class="col-lg-12 wow fadeInUp " data-wow-duration="1s" data-wow-delay=".3s">
                                <p>At PHYSICIANS INFINIT REVENUE, our team of professionals maintains expertise in the provider
                                    credentialing and enrollment process, staying up to date of changes in the industry,
                                    credentialing trends, and payer requirements. As experts, we take on the
                                    credentialing and enrollment process from start to finish. Our team takes on all of the
                                    responsibilities that typically fall on your staff, freeing up your team to focus on more
                                    important tasks.</p>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-12 wow fadeInUp " data-wow-duration="1s" data-wow-delay=".3s">
                                <p>At PHYSICIANS INFINIT REVENUE, we assign a team of expert to track re-credentialing deadlines
                                    and initiate, and complete the process each time your practice is due for re-
                                    credentialing. Our Payer credentialing and enrollment services support physicians in:</p>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-12 wow fadeInUp " data-wow-duration="1s" data-wow-delay=".3s">
                                <ul>
                                    <li><i class="fa fa-check"></i> Starting or joining a new practice</li>
                                    <li><i class="fa fa-check"></i> Switching from one physician practice group to another</li>
                                    <li><i class="fa fa-check"></i> Join or become affiliated to new groups or practices</li>
                                    <li><i class="fa fa-check"></i> Enroll with new payers</li>
                                    <li><i class="fa fa-check"></i> Maintain their credentialing services.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-lg-12 wow fadeInUp " data-wow-duration="1s" data-wow-delay=".3s">
                                <h5><b>OUR CREDENTIALING PROCESS INVOLVES THE FOLLOWING:</b></h5>
                                <ul>
                                    <li><i class="fa fa-check"></i> Collect all the data and documents required for filing credentialing applications
                                        from the physicians</li>
                                    <li><i class="fa fa-check"></i> Store the documents centrally on our secure document management systems</li>
                                    <li><i class="fa fa-check"></i> Understand the top payers to which the practice sends claim and initiate
                                        contact with the payers</li>
                                    <li><i class="fa fa-check"></i> Apply the payer-specific formats after a due audit</li>
                                    <li><i class="fa fa-check"></i> Timely follow-up with the Payer to track application status</li>
                                    <li><i class="fa fa-check"></i> Obtain the enrollment number from the Payer and communicate the state of the
                                        application to the physician</li>
                                    <li><i class="fa fa-check"></i> Periodic updates of the document library for credentialing purposes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="thumbs">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_thumb wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                    <!-- <img src="img/portfolio_details/1.png" alt=""> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                                    <!-- <img src="img/portfolio_details/2.png" alt=""> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="get_in_tauch_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-90">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Get in Touch</h3>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Tour function information without cross action media value quickly maximize timely deliverables.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="touch_form">
                        <form action="/credential_contact_submit" method="POST">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                        <input type="text" placeholder="Your Name" name="name" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                        <input type="email" placeholder="Email" name="email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                        <input type="email" placeholder="Subject" name="subject">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                       <textarea name="message" id="" cols="30" placeholder="Message" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="submit_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                                        <button class="boxed-btn3" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
    {% endblock %}
    <!-- JS here -->
    <!-- <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script> -->

    <!--contact js-->
    <!-- <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script> -->
</body>

</html>