<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PIR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    {% extends 'base.html' %} 
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    {% block content %}
    <!-- header-end -->

    <!-- portfolio_details_banner_start  -->
    <div class="portfolio_details_banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="details_info ">
                        <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">Dental Billing Services</h3>
<!--                        <div class="details_links d-flex justify-content-between align-items-center">-->
<!--                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">-->
<!--                                <span>Client</span>-->
<!--                                <h4>Mesica Chouhan</h4>-->
<!--                            </div>-->
<!--                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">-->
<!--                                <span>Category</span>-->
<!--                                <h4>Mobile App</h4>-->
<!--                            </div>-->
<!--                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">-->
<!--                                <span>Project Date</span>-->
<!--                                <h4>Oct 12, 2019</h4>-->
<!--                            </div>-->
<!--                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">-->
<!--                                <span>Share Project</span>-->
<!--                                <div class="social_links">-->
<!--                                    <ul>-->
<!--                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>-->
<!--                                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>-->
<!--                                        <li><a href="#"> <i class="fa fa-pinterest-p"></i> </a></li>-->
<!--                                        <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="single_details wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">-->
<!--                                <div class="project_btn">-->
<!--                                    <a href="#" class="boxed-btn3">Project Link</a>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio_details_banner_end  -->

    <div class="portfolio_details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="banner wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <img src="../../../static/images/h8.jpg" alt="">
                    </div>
                    <div class="details_text">
                        <div class="row">
                            <div class="col-lg-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <h5>DENTAL BILLING SERVICES:</h5>
                                <p>MD billing team say welcome to the dental doctors, a team of dental billing
                                    expert is dedicated to dental billing, coding and complete dental services.
                                    Our professionally trained dental insurance billing specialists are focused
                                    on your practice. At MD Dental services, our goal is simple, to ensure our
                                    clients are getting paid faster with maximum profitability and are fully
                                    satisfied. We are a one stop shop dental billing company for all your
                                    dental needs and encourage you to focus on patient care while we
                                    diligently work to enhance your practices overall management.</p>
                            </div>
                            <div class="row pt-5">
                                <div class="col-lg-12 wow fadeInUp " data-wow-duration="1s" data-wow-delay=".3s">
                                    <table class="table">
                                        <thead class="table-active">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Dentistry</th>
                                            <th scope="col">Orthodontics</th>
                                            <th scope="col">Endodontics</th>
                                            <th scope="col">Maxillofacial & Oral Surgery</th>
                                            <th scope="col">Periodontics</th>
                                            <th scope="col">Prosthodontics</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Routine Exam and Cleaning</td>
                                            <td>All X-Rays & Impressions</td>
                                            <td>Complex Tooth Pain Treatment</td>
                                            <td>Reconstructive Facial Surgery</td>
                                            <td>Gum Examination</td>
                                            <td>Fitting of Artificial Replacement</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Fillings</td>
                                            <td>Banding / Debanding</td>
                                            <td>3-D Imaging</td>
                                            <td>Pathological Conditions</td>
                                            <td>Gum Disease Treatment</td>
                                            <td>Complex Dental and Facial Issues</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Crowns</td>
                                            <td>Bonding</td>
                                            <td>Dental Pulp Treatments</td>
                                            <td>Facial Trauma Surgery</td>
                                            <td>Flap / Pocket reduction Surgery</td>
                                            <td>Jaw Disorders</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Tooth Extractions</td>
                                            <td>Misaligned Teeth / Jaw</td>
                                            <td>Root Canals</td>
                                            <td>Anesthesia</td>
                                            <td>Bone Grafts</td>
                                            <td>Dentures</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Bridges</td>
                                            <td>Overbite / Underbite</td>
                                            <td>Root Canals</td>
                                            <td></td>
                                            <td>Laser Gum Surgery</td>
                                            <td>Cancer Reconstruction</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Braces</td>
                                            <td>Overbite / Underbite</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Traumatic Injury Repair</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>Implants</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
<!--                            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">-->
<!--                                <p>A wonderful serenity has taken to the possession of my entire soul network infrastructure, including consolidation of established network designed and created infrastructure.</p>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="thumbs">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_thumb wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                    <img src="img/portfolio_details/1.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                                    <img src="img/portfolio_details/2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!--    &lt;!&ndash; testimonial_area  &ndash;&gt;-->
<!--    <div class="testimonial_area ">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-xl-12">-->
<!--                    <div class="testmonial_active owl-carousel">-->
<!--                        <div class="single_carousel">-->
<!--                            <div class="single_testmonial text-center">-->
<!--                                <div class="quote">-->
<!--                                    <img src="img/testmonial/quote.svg" alt="">-->
<!--                                </div>-->
<!--                                <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> -->
<!--                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>-->
<!--                                        Fusce ac mattis nulla. Morbi eget ornare dui. </p>-->
<!--                                <div class="testmonial_author">-->
<!--                                    <div class="thumb">-->
<!--                                            <img src="img/testmonial/thumb.png" alt="">-->
<!--                                    </div>-->
<!--                                    <h3>Robert Thomson</h3>-->
<!--                                    <span>Business Owner</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="single_carousel">-->
<!--                            <div class="single_testmonial text-center">-->
<!--                                <div class="quote">-->
<!--                                    <img src="img/testmonial/quote.svg" alt="">-->
<!--                                </div>-->
<!--                                <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> -->
<!--                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>-->
<!--                                        Fusce ac mattis nulla. Morbi eget ornare dui. </p>-->
<!--                                <div class="testmonial_author">-->
<!--                                    <div class="thumb">-->
<!--                                            <img src="img/testmonial/thumb.png" alt="">-->
<!--                                    </div>-->
<!--                                    <h3>Robert Thomson</h3>-->
<!--                                    <span>Business Owner</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="single_carousel">-->
<!--                            <div class="single_testmonial text-center">-->
<!--                                <div class="quote">-->
<!--                                    <img src="img/testmonial/quote.svg" alt="">-->
<!--                                </div>-->
<!--                                <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> -->
<!--                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>-->
<!--                                        Fusce ac mattis nulla. Morbi eget ornare dui. </p>-->
<!--                                <div class="testmonial_author">-->
<!--                                    <div class="thumb">-->
<!--                                            <img src="img/testmonial/thumb.png" alt="">-->
<!--                                    </div>-->
<!--                                    <h3>Robert Thomson</h3>-->
<!--                                    <span>Business Owner</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /testimonial_area  &ndash;&gt;-->

    <div class="get_in_tauch_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-90">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Get in Touch</h3>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Tour function information without cross action media value quickly maximize timely deliverables.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="touch_form">
                        <form action="/dental_contact_submit" method="POST">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                        <input type="text" placeholder="Your Name" name="name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                        <input type="email" placeholder="Email" name="email" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                        <input type="text" placeholder="Subject" name="subject" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                       <textarea name="message" id="" cols="30" placeholder="Message" rows="10" required></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="submit_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                                        <button class="boxed-btn3" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--/ footer end  -->

    {% endblock %}
</body>

</html>